$onyx: #36393b;
$gray: #97abb1;
$border-color: rgba($gray, .3);
$light-blue: rgba(175,203,255, 1);
$lightest-blue: rgba(175,203,255, .5);
$ivory: #e6ebe0;
$teal: #36c9c6;
$aqua: #91F9E5;
$rose: #FFD9CE;
$yellow: #FFBD00;

$color-success: #39B54A;
$color-error: #D7263D;
$color-danger: $color-error;

$black: #222;
$white: #fff;

$border: 2px solid $border-color;
$default-padding: 1rem 5%;
$border-radius: 6px;